.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.city-list {
  position: relative;
  background-color: #212529;
}

.container {
  position: relative;
}

.search-box {
  position: absolute;
  overflow: visible;
  z-index: 1;
  width: 250px;
  float: right;
  overflow-y: auto;
  max-height: 205px;
  right: 0;
  border-radius: 32px;
  background-color: grey;
}

.search-box ul li {
  list-style: none;
  color: whitesmoke;
  font-family: math;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("../public/wbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  width: 25rem;
}

.card img {
  height: 100px;
  width: 100px;
  margin: auto;
}